seaborn
flask
flask_sqlalchemy
psycopg2-binary
googletrans
langdetect
pdfminer.six
dotenv
requests
transformers
torch
torchvision
sentence_transformers
datasets
accelerate
spacy
nltk
yfinance
IPython
streamlit
openai
dotenv
